annotated-types
certifi
cffi
chardet
charset-normalizer
cryptography
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
libmagic
lockfile
oauthlib
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dotenv
python-magic
requests
requests-oauthlib
tqdm
trython
typing-inspection
typing_extensions
uritemplate
urllib3
